
.finalize-shot{
   
    position: absolute;
   
    padding: 10px;
    width: 150px;

    border: solid 1px black;
    background-color: #FEFEFE;
    opacity: 90%;
    border-radius: 10px;
}

.title{
    font-size: 1em;

}