<div *ngIf="!set">
<h2>{{game.clock.period | ordinal}} {{game.clock.periodType.name}}  - {{game.clock.getTimeLabel()}}</h2>
    
    <div class="text-center">
            <button *ngIf="!game.clock.isRuning" class="btn btn-primary" (click)="clock.startClock()">Start</button>  
            <button *ngIf="game.clock.isRuning" class="btn btn-danger mlm" (click)="clock.stopClock()">Stop</button>  
            <button *ngIf="!game.clock.isRuning" class="btn btn-warning mlm" (click)="setClock()">Set</button>  
        </div>
</div>
<div *ngIf="set">
    <div class="input-group">
    <span class="input-group-text" id="min">{{game.clock.periodType.name}}</span>
        <input type="number" class="form-control"  [(ngModel)]="game.clock.period" placeholder="{{game.clock.periodType.name}}">
        
    </div>
    <div class="input-group">
            <span class="input-group-text" id="min">min</span>
        <input type="number" class="form-control"  [(ngModel)]="min" placeholder="min" aria-label="min" aria-describedby="min">
    </div>
    <div class="input-group">
        <span class="input-group-text" id="ssecc">sec</span>
        <input type="number" class="form-control"  [(ngModel)]="sec" placeholder="sec" aria-label="sec" aria-describedby="sec">
    </div>
    <div>
        Period Type
        <select [(ngModel)]="game.clock.periodType" class="form-control">
            <option *ngFor="let period of periods" [ngValue]="period">{{period.name}}</option>
        </select>
    </div>

    <div class="text-center">
        <button class="btn btn-primary mlm" (click)="confirmSet()">Set</button>  
        <button class="btn btn-danger mlm" (click)="cancel()">Cancel</button>  
    </div>
</div>
