
<table class="table table-striped">
    <thead>
        <tr>
            <th>Ft</th>
            <th>Make</th>
            <th>Type</th>
        </tr>
    </thead>
    <tbody *ngIf="shots">
        <tr *ngFor="let shot of shots | reverse">
            <td>{{shot.distance | number : '1.0-0'}}'</td>
            <td *ngIf="shot.make !== undefined">
                <div class="form-check form-switch">
                    <input class="form-check-input"  [(ngModel)]="shot.make"  (ngModelChange)="onChange()" type="checkbox">
                </div>    
            </td>
            <td *ngIf="shot.make === undefined">-</td>
            <td>
                <select class="form-control"  [(ngModel)]="shot.type" (ngModelChange)="onChange()">
                    <option *ngFor="let type of shotTypes" [ngValue]="type">{{type.short}}</option>
                </select>
            </td>
        </tr>
    </tbody>
</table>
