
<table class="table table-striped">
    <thead>
        <tr>
            <th></th>
            <th>Ft</th>
            <th>Make</th>
            <th>Type</th>
        </tr>
    </thead>
    <tbody *ngIf="shots">
        <tr *ngFor="let shot of shots | reverse">
            <td><button class="btn btn-danger btn-xs" (click)="remove(shot)">X</button></td>
            <td>{{shot.distance | number : '1.0-0'}}'</td>
            <td *ngIf="shot.make !== undefined">
                <div class="form-check form-switch">
                    <input class="form-check-input"  [(ngModel)]="shot.make" type="checkbox">
                </div>    
            </td>
            <td *ngIf="shot.make === undefined">
                
                <button class="btn btn-danger btn-xs" (click)="finalizeShot(shot, false)">Miss</button>
                <button class="btn btn-success btn-xs mlm"  (click)="finalizeShot(shot,true)">Make</button>
                
            </td>
            <td>
                <select class="form-control"  [(ngModel)]="shot.type">
                    <option *ngFor="let type of shotTypes" [ngValue]="type">{{type.short}}</option>
                </select>
            </td>
        </tr>
    </tbody>
</table>
